@model List<StellerAcunMedyaPortfolio.Models.TblSocialMedia>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Sosyal Medyalarım</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Icon</th>
        <th>SosyalMedya Adı</th>
        <th>İnternet Adresi</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.SocialMediaID</th>
            <td>@item.Icon</td>
            <td>@item.SocialMediaName</td>
            <td>@item.Url</td>
            <td><a href="/SocialMedia/DeleteSocialMedia/@item.SocialMediaID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/SocialMedia/UpdateSocialMedia/@item.SocialMediaID" class="btn btn-outline-info">Güncelle</a></td>
        </tr>
    }
</table>
<br />
<a href="/SocialMedia/AddSocialMedia" class="btn btn-outline-primary">Yeni Sosyal Medya Bilgisi Ekle</a>